:root {
  --color-edge: #5c5c5c;
  --color-node-border: #66666e;
  --color-node-background: #daedbd;
  --color-text: #02020a;
  --color-background-2: #ededed;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  color: var(--color-text);
}

.canvas,
.canvas-wrapper,
.background {
  position: absolute;
  inset: 0;
}

.overlay {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--color-background-2);
  z-index: 1;
}
