html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#canvas {
  flex-grow: 1;
  margin: 150px;
  border: 1px solid black;
}

.node {
  width: 150px;
  max-width: 150px;
  height: 50px;
  max-height: 50px;
  background: #ffdbab;
  border: 1px solid #bababa;
  border-radius: 1000px;
  white-space: nowrap;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
