#canvas {
  flex-grow: 1;
}

.node {
  position: relative;
  width: 50px;
  height: 50px;
  background: #ffdbab;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.port {
  position: absolute;
  width: 0;
  height: 0;
}

.port::after {
  display: block;
  content: "";
  position: relative;
  top: -2.5px;
  left: -2.5px;
  width: 5px;
  height: 5px;
  background: #737373;
  border-radius: 2.5px;
  border: none;
}
