.node {
  position: relative;
  width: 100px;
  height: 100px;
  background: var(--color-node-background);
  border: 1px solid var(--color-node-border);
  box-shadow: 0 0 5px var(--color-node-border);
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.node-port {
  position: relative;
}

.node-port-grab-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.node-port-pin {
  --port-size: 5px;
  width: calc(2 * var(--port-size));
  height: calc(2 * var(--port-size));
  background: var(--color-edge);
  border-radius: calc(2 * var(--port-size));
}
